/* .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  } */

 body{
  margin: 50%;
  padding: 10%;
  display: inline-block;
  justify-content: center;
  justify-items: center;
  align-items: center;
 }

  .button {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    

  }
  #grey {
    background: red;
  }

  #orange {
    background: rgb(227, 5, 79);
  }

  #blue {
    background: #155967;
  }

  #pink {
    background: #3206e5;
  }

